<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnsimon.payback" >

    <!--
        Used Libraries:

        RoundedAvatarDrawable by Evelio Tarazona Cáceres (http://evel.io/2013/07/21/rounded-avatars-in-android/)
        FloatingActionButton by Faiz Malkani (https://github.com/FaizMalkani/FloatingActionButton)
        SystemBarTint by Jeff Gilfelt (https://github.com/jgilfelt/SystemBarTint)
        L-Dialogs by Lewis Deane (https://github.com/lewisjdeane/L-Dialogs)
        AndroidFloatLabel by weddingparty (https://github.com/weddingparty/AndroidFloatLabel)
    -->

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.johnsimon.payback.FeedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_MainScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.johnsimon.payback.CreateDebtActivity"
            android:icon="@drawable/ic_actionbar_left"
            android:label="@string/title_activity_create_debt"
            android:theme="@style/AppTheme_NoActionBarBorder" >
        </activity>
        <activity
            android:name="com.johnsimon.payback.SettingsActivity"
            android:label="@string/pref_settings" />
        <activity
            android:name="com.johnsimon.payback.PeopleManagerActivity"
            android:label="@string/title_activity_people_manager"
            android:parentActivityName="com.johnsimon.payback.FeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.johnsimon.payback.FeedActivity" />
        </activity>
    </application>

</manifest>
